<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--세팅(탭) 번호-->
    <add key="setting_num" value="1" />
    <!--클라이언트 경로-->
    <add key="client_path_1_tab_1" value="" />
    <add key="client_path_2_tab_1" value="" />
    <add key="client_path_3_tab_1" value="" />
    <add key="client_path_1_tab_2" value="" />
    <add key="client_path_2_tab_2" value="" />
    <add key="client_path_3_tab_2" value="" />
    <add key="client_path_1_tab_3" value="" />
    <add key="client_path_2_tab_3" value="" />
    <add key="client_path_3_tab_3" value="" />
    <!--아이디-->
    <add key="client_id_1_tab_1" value="" />
    <add key="client_id_2_tab_1" value="" />
    <add key="client_id_3_tab_1" value="" />
    <add key="client_id_1_tab_2" value="" />
    <add key="client_id_2_tab_2" value="" />
    <add key="client_id_3_tab_2" value="" />
    <add key="client_id_1_tab_3" value="" />
    <add key="client_id_2_tab_3" value="" />
    <add key="client_id_3_tab_3" value="" />
    <!--패스워드(암호화)-->
    <add key="client_pw_1_tab_1" value="" />
    <add key="client_pw_2_tab_1" value="" />
    <add key="client_pw_3_tab_1" value="" />
    <add key="client_pw_1_tab_2" value="" />
    <add key="client_pw_2_tab_2" value="" />
    <add key="client_pw_3_tab_2" value="" />
    <add key="client_pw_1_tab_3" value="" />
    <add key="client_pw_2_tab_3" value="" />
    <add key="client_pw_3_tab_3" value="" />
	<!--바로가기-->
	<add key="shortcut_name_1" value="바로가기1" />
	<add key="shortcut_address_1" value="http://www.gersang.co.kr/main/index.gs" />
	<add key="shortcut_name_2" value="바로가기2" />
	<add key="shortcut_address_2" value="http://www.gersang.co.kr/main/index.gs" />
	<add key="shortcut_name_3" value="바로가기3" />
	<add key="shortcut_address_3" value="http://www.gersang.co.kr/main/index.gs" />
	
	<!--자동생성-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>