<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--세팅(탭) 번호-->
    <add key="setting_num" value="1" />
	<!--클라이언트 별명-->
	<add key="client_name_1_tab_1" value="MainClient" />
	<add key="client_name_2_tab_1" value="Client2" />
	<add key="client_name_3_tab_1" value="Client3" />
	<add key="client_name_1_tab_2" value="MainClient" />
	<add key="client_name_2_tab_2" value="Client2" />
	<add key="client_name_3_tab_2" value="Client3" />
	<add key="client_name_1_tab_3" value="MainClient" />
	<add key="client_name_2_tab_3" value="Client2" />
	<add key="client_name_3_tab_3" value="Client3" />
	<add key="client_name_1_tab_4" value="MainClient" />
	<add key="client_name_2_tab_4" value="Client2" />
	<add key="client_name_3_tab_4" value="Client3" />
    <!--클라이언트 경로-->
    <add key="client_path_1_tab_1" value="" />
    <add key="client_path_2_tab_1" value="" />
    <add key="client_path_3_tab_1" value="" />
    <add key="client_path_1_tab_2" value="" />
    <add key="client_path_2_tab_2" value="" />
    <add key="client_path_3_tab_2" value="" />
    <add key="client_path_1_tab_3" value="" />
    <add key="client_path_2_tab_3" value="" />
    <add key="client_path_3_tab_3" value="" />
	<add key="client_path_1_tab_4" value="" />
	<add key="client_path_2_tab_4" value="" />
	<add key="client_path_3_tab_4" value="" />
    <!--아이디-->
    <add key="client_id_1_tab_1" value="" />
    <add key="client_id_2_tab_1" value="" />
    <add key="client_id_3_tab_1" value="" />
    <add key="client_id_1_tab_2" value="" />
    <add key="client_id_2_tab_2" value="" />
    <add key="client_id_3_tab_2" value="" />
    <add key="client_id_1_tab_3" value="" />
    <add key="client_id_2_tab_3" value="" />
    <add key="client_id_3_tab_3" value="" />
	<add key="client_id_1_tab_4" value="" />
	<add key="client_id_2_tab_4" value="" />
	<add key="client_id_3_tab_4" value="" />
    <!--패스워드(암호화)-->
    <add key="client_pw_1_tab_1" value="" />
    <add key="client_pw_2_tab_1" value="" />
    <add key="client_pw_3_tab_1" value="" />
    <add key="client_pw_1_tab_2" value="" />
    <add key="client_pw_2_tab_2" value="" />
    <add key="client_pw_3_tab_2" value="" />
    <add key="client_pw_1_tab_3" value="" />
    <add key="client_pw_2_tab_3" value="" />
    <add key="client_pw_3_tab_3" value="" />
	<add key="client_pw_1_tab_4" value="" />
	<add key="client_pw_2_tab_4" value="" />
	<add key="client_pw_3_tab_4" value="" />
    <!--바로가기-->
    <add key="shortcut_name_1" value="바로가기1" />
    <add key="shortcut_address_1" value="http://www.gersang.co.kr/main/index.gs" />
    <add key="shortcut_name_2" value="바로가기2" />
    <add key="shortcut_address_2" value="http://www.gersang.co.kr/main/index.gs" />
    <add key="shortcut_name_3" value="바로가기3" />
    <add key="shortcut_address_3" value="http://www.gersang.co.kr/main/index.gs" />
	<add key="shortcut_name_4" value="바로가기4" />
	<add key="shortcut_address_4" value="http://www.gersang.co.kr/main/index.gs" />
	<add key="shortcut_name_5" value="바로가기5" />
	<add key="shortcut_address_5" value="http://www.gersang.co.kr/main/index.gs" />
	<!--별명사용여부-->
	<add key="display_nickname_1" value="True" />
	<add key="display_nickname_2" value="True" />
	<add key="display_nickname_3" value="True" />
	<!--업데이트 확인 여부-->
	<add key="check_update" value="True" />
	<add key="current_ignore_version" value="" />
    <!--ActiveX 사용 여부-->
    <add key="use_activeX" value="True" />
  </appSettings>
</configuration>